body{

    margin: auto;
    width: 80%;
    background-color:darkgrey;
    }

#latnamn{

    font-size: 30px;
    text-decoration: underline;
     font-family:  "Comic Sans MS", cursive, sans-serif;
}
#lattext{
    font-size:19px;
     font-family:  "Comic Sans MS", cursive, sans-serif;
}
